@charset "utf-8";

@import "bootstrap/scss/bootstrap";

// // Dark
// $accentColor: #f8be39;
// $baseColor: #13415b;
// $shadow: 0px 0px 50px 10px rgba(0,0,0,0.5);
// $background: url(/assets/background.jpg);
// $contentBackground: darken($baseColor, 10%);
// $contentColor: lighten($baseColor, 60%);
// $navColor: $accentColor;
// $headerColor: $accentColor;

// Bright
$accentColor: #f8be39;
$baseColor: #13415b;
$shadow: 0px 0px 1px 0px $baseColor;
$background: #eee;
$contentBackground: $background;
$contentColor: $baseColor;
$navColor: $baseColor;
$headerColor: $baseColor;

body {
	font-family: "Barlow", sans-serif;
	font-weight: 300;
	background: $background;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: fixed;

	>#content {
		height: 100%;
		display: flex;
		flex-direction: row;

		>#left {
			z-index: 10;
			box-shadow: $shadow;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			>#logo-container {
				display: flex;
				flex-grow: 1;
				justify-content: center;
				>a {
					>img {
						width: 250px;
					}
					margin: auto;
				}
			}

			>nav {
				display: flex;
				flex-direction: column;
				flex-grow: 2;
				text-align: center;
				font-size: 2em;

				>div {
					line-height: 70px;
					display: block;
					a {
						&:link, &:visited, &:hover {
							color: $navColor;
							text-transform: uppercase;
							text-decoration: none;
							letter-spacing: 0.1em;
							transition: letter-spacing 0.5s;
						}

						&:hover {
							letter-spacing: 0.2em;
						}
					}
				}
			}
		}

		>main {
			flex-basis: 0;
			flex-grow: 3;
			display: flex;
			flex-direction: column;
			padding: 20px;
			background-color: $contentBackground;

			>div.post {
				margin: 20px;
			}
		}
	}
}

.post {
	color: $contentColor;
	padding: 30px 80px;
	font-size: 14pt;

	p {
		margin-bottom: 50px;

		b, strong {
			font-weight: 600;
		}
	}

	a {
		&:link {
			color: $accentColor;
		}

		&:visited, &:hover {
			color: darken($accentColor, 20%);
		}

		&:hover {
			text-decoration: underline;
		}
	}

	h1 {
		font-weight: 300;
		margin-bottom: 30px;
		margin-left: 30px;
		font-size: 4em;
		color: $headerColor;
	}

	h2 {
		font-weight: 300;
		margin-bottom: 20px;
		font-size: 2em;
		color: $headerColor;
	}
}

