<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ site.description }}">
		<title>{{ site.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | relative_url }}">
		 <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,700,700i" rel="stylesheet"> 
	</head>
	<body>
		<div id="content">
			<div id="left">
				<div id="logo-container">
					<a href="{{ '/' | relative_url }}">
						<img src="{{ '/assets/logo-dark.png' | relative_url }}">
					</a>
				</div>
				<nav>
					<div><a href="{{ '/' | relative_url }}">Hem</a></div>
					<div><a href="{{ '/news/' | relative_url }}">Nyheter</a></div>
					<div><a href="{{ '/events/' | relative_url }}">Evenemang</a></div>
					<div><a href="{{ '/contact/' | relative_url }}">Kontakt</a></div>
				</nav>
			</div>
			<main>
				{{ content }}
			</main>
		</div>
	</body>
</html>

